body{
  margin: 0px auto;
  padding:40px;
}


h1{
  text-align: center;
  color:#ffffff;
}
h2{
  color:rgb(0, 0,0);
}

header{
  background-image: url('../images/flywheel.jpg');
  background-color: rgba(179, 179, 179,0.7);

  text-align: center;
  padding:20px;
}

.left{
  float:left;
  width:200px;
  height:700px;
  background-color: rgb(153, 102, 0);

}

.right{
  float:left;
  background-color:rgb(255, 255, 255);
  width:80%;
  margin-left: 10px;
}



nav a{
  display: inline-block;
  text-decoration:none;
  background-color: rgba(230, 230, 230,0.4);
  width:10%;
  padding:10px;
  margin-right: 50px;
  border-radius: 5px;
  color: #000000;
}

.active{
  background-color: #FFFFFF;
}

.left a > img{
  display:block;
  margin:0px auto;
  margin-top: 30px;
  width:130px;
  border: 2px solid #000000;
}


/*Final Project - Table CSS */

table{
  width:57%;
  margin:0px auto;
  font-family: arial;
  font-size:12px;
  color:rgb(89, 89, 89);
}

table th{
  padding:2.5%;
  background-color: rgb(153, 102, 0);
  background-image: linear-gradient(rgb(153, 102, 0),rgb(204, 136, 0));
  text-align:center;
  color:rgb(242, 242, 242);
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid rgb(85, 128, 0);
}

table td{
  padding:2%;
  text-align: center;
  border: 1px solid rgb(255,255,255);

}

table tr{
  background-color: rgb(242, 242, 242);
  opacity:0.8;
}
table td:first-child{
  text-align: left;
}
table th:first-child{
  text-align: left;
}

table tr:hover{
  opacity: 1;
  color:rgb(0, 0, 0)
}
