.agrupar{
  text-align: center;
  width:500px;
  margin: 0px auto;
  padding: 18px;
  background-color: rgb(0, 153, 153)
}

a{
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Verdana, sans-serif;
  color: rgb(0,0,0);
}

a:hover{
  background-color: rgb(255, 0, 102);
  font-size: 30px;
}
