*{
  margin:0px;
  padding:0px;
}

body{
  background-color: rgb(255, 255, 0);
  font-family: electrolize, Arial, monospace;
}


.contenedor{
  width:83%;
  height: auto;
  margin:auto;
  border: 1px solid yellow;
  background-color: rgb(255, 255, 0);
  max-width: 1000px;
}

.cabecera{
  border: 1px solid yellow;
  background-color: rgb(0,0,0);
  text-align: center;
}

.cabecera h1{
  width:100%;
  margin:auto;
  color:rgb(255, 255, 0);
  padding:3%;
  font-size:3em;
}

.seccion{
  margin-top: 4%;
  margin-bottom: 5%;
  margin-right: 2%;
  box-sizing: border-box;
  float:left;
  width:60%;
  height: auto;
  border:1px solid  yellow;
  background-color: rgb(0,0,0);
}


img{
  width: 100%;
  height: auto;
}

.seccion article{
  box-sizing: border-box;
  margin-top:0.1%;
  padding:1%;
}

.seccion h2{
  color:rgb(255, 255, 0);

}
p{
  color:rgb(255, 255, 0);

}
.seccion figcaption{
  text-align: center;
  color:rgb(255, 255, 0);
}

.barra{
  margin-top: 4%;
  margin-bottom: 5%;
  box-sizing: border-box;
  float:left;
  width:38%;
  border:1px solid yellow;
  background-color: rgb(0,0,0);
}

.barra h3{
  color:rgb(255, 255, 0);
}

.barra ul{
  display:block;
  width: 100%;
  color:rgb(255, 255, 0);
}

li{
  display:block;
  width:100%;
  margin:auto;
  list-style: none;
  padding:4%;
  margin-left:30%;

}

.pie{
  margin-top:3%;
  margin-bottom: 3%;
  clear:both;
  border:1px solid yellow;
  background-color:rgb(0,0,0);
}

small{
  display: block;
  padding:3%;
  color:rgb(255,255,0);
  font-size: 1em;
  font-weight: 900;
}


p{
  box-sizing: border-box;
  width:90%;
  margin:1%;
  padding:1%;
  font-size:100%;
  text-indent: 2%;
}
@font-face{
  font-family: 'electrolize';
  src:url('Electrolize-Regular.ttf');
}

@media screen and (max-width:800px){
  .seccion{
    width:100%
  }

  .barra{
    width:100%;
  }

  .cabecera h1{
    font-size:1em;
  }
}
