body{
  font-size: 130%;
  font-family: Arial;
  margin:2%;
 background-color: rgb(166, 166, 166);
}

h1{
   color: #FFFFFF;
}

header{
  text-align: center;
  background-color: #666666;
  font-family: Arial;
  padding-bottom: 15px;
}

nav{
  font-variant: small-caps;
}

nav a{
  display: inline-block;
  background-color: #FFFFFF;
  width:10%;
}

.half{
  width:35%;
  height:300px;
  float:left;
  margin-right: 2%;
}

.whole{
clear:both;
}

h2{
  background-color: #4dc3ff;
  font-family: Arial;
}

footer{
  clear:both;
  background-color: #666666;
}

details{
  font-style:italic;
}

summary{
  font-style:  normal;
}

img{
  width: 120px;
}

header , footer{
    background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
  	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
  	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
  	background: linear-gradient(#666666 0%, #00b7ea 100%);

  }
}
